body {
    background-color: rgb(58, 57, 57);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.game1 {
    direction: column;
    gap: 5px;
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
    border-radius: 10px;
}

.game_title1 {
    text-align: center;
    color: rgb(65, 65, 65);
    font-size: 17px;
    
    margin-top: 10px; 
}

.Play1 {

    color: white;
    background-color: limegreen;
    border: 0px;
    font-size: 20px;
    margin-bottom: 3px; /* Using margin-bottom instead of transform */
}

.Play1:hover {
    transition: background-color 0.2s ease; 
    background-color: green;
}

.Play1:active {
    background-color: rgb(0, 145, 0);
}
